<hr>
<tr>
  <td><h1>購物車清單</h1></td>
  <td><button (click)="OnClear(item)">清空購物車</button></td>
  <td><button (click)="Onback()">復原變更</button></td>
<hr>
</tr>
<hr>
<table class="table">
    <tr>
      <th>#</th>
      <th>產品名稱</th>
      <th>產品價格</th>
      <th>購買數量</th>
      <th>小計</th>
      <th>刪除</th>
    </tr>
    <tr *ngFor="let item of shoppingcartService.itemlist; let i = index">
      <td>
          <div>
          {{ i+1 }}
          </div>
      </td>
      <td>
          <div>
          {{ item.name }}
          </div>
      </td>
      <td>
         <div>
         {{ item.price }}
        </div>
      </td>
      <td>
        <div *ngIf="!item.isEdit" (click)="Edit(item)"> {{ item.amount }} </div>
        <div *ngIf="item.isEdit">
          <input type = number min= 0 [(ngModel)]= "item.Qty2">
          <button (click)="Ok(item,i)">V</button>
          <button (click)="Reset(item)">X</button>
        </div>
      </td>
      <td>
        {{ Oncacular(item.price,item.amount) }}
     </td>
     <td>
        <button (click)="Onmodify(i)">X</button>
    </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>稅金(5%)</td>
        <td>$ {{ Sum() }}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>總計金額</td>
        <td>$ {{ Total() }}</td>
   </tr>
</table>


